/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.idea/.name
/.gradle/9.1.0/checksums/checksums.lock
/.gradle/9.1.0/executionHistory/executionHistory.lock
/.gradle/9.1.0/fileHashes/fileHashes.bin
/.gradle/9.1.0/fileHashes/fileHashes.lock
/.gradle/9.1.0/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/config.properties
/.gradle/9.1.0/fileChanges/last-build.bin
/build/reports/problems/problems-report.html
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/AndroidProjectSystem.xml
/.idea/.gitignore
/.idea/deploymentTargetSelector.xml
/.gradle/9.1.0/fileHashes/resourceHashesCache.bin
/.gradle/9.1.0/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/9.1.0/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/9.1.0/checksums/sha1-checksums.bin
/.idea/inspectionProfiles/Project_Default.xml
